@font-face {
  font-family: "Bulletto Killa¬ Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bulletto Killa¬ Regular"),
    url("Bulletto Killa.woff") format("woff");
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

p {
  font-size: 20px;
  font-weight: light;
  color: #333333;
}

span a {
  font-size: 18px;
  color: #cccccc;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;
}
span a:hover {
  color: black;
}
.container {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Heading {
  font-size: 20px;
  margin: 10px 0 0 0;
  font-weight: lighter;
  text-transform: uppercase;
  color: #eeeeee;
}
.heroimg {
  height: 100%;
  max-width: 800px;
}

.content {
  height: 100%;
  max-width: 1000px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}
img {
  width: 100%;
  height: auto;
}
